$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {
  /**
     * Colors
     */
  --color-primary: rgb(100, 149, 237);
  --color-text-secondary: rgba(0, 0, 0, 0.6);
}
